// VARS

// Colors
$white: #fff;
$black: #000;

$light: #F0F0EB;
$darken-light: #A9B1A1;
$secondary: #656b61;
$primary: #2e2e25;
$accent: #ffc400;

// Fonts
$main-font: 'Roboto', sans-serif;
$secondary-font: 'Roboto Condensed', sans-serif;

$font-size: 10px;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$font-style-italic: italic;
$font-style-normal: normal;

$line-height-small: 1.25;
$line-height: 1.5;

$gap: 10px;