
@import './assets/scss/styles.scss';

.list {
	padding: 20px;
	display: block;
	border: 1px solid black;
	margin-top: 2rem;
	.list-item {
		b {
			font-weight: $font-weight-bold;
		}
	}
	&:first-child{
		margin-top: 0;
	}
}